---
import BaseLayout from "../../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <body>
    <h3>This is a page in the <code>/pages/page/based</code> folder called <code>routing.astro</code></h3>
  </body>
</BaseLayout>
