---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import ClassroomImage from '../../public/AstroClass.png';
---

<BaseLayout>
  <h3>An image directly from the /public folder</h3>
  <p>Note that it is full size</p>
  <div>
    <img src="./AstroClass.png" style="width: 300px; height:300px;" />
  </div>
  <h3>An image using the Astro Image component</h3>
  <p>Note that it has been converted to a *.webp and is much smaller</p>
  <div>
    <Image src={ClassroomImage} alt="A classroom of people learning Astro from the public folder" width="300" height="300" />
  </div>
  <div>
    <h3>Another Astro Image component</h3>
    <p>And this one is even smaller still.</p>
    <Image src={ClassroomImage} alt="A classroom of people learning Astro from the public folder" width="150" height="150" />
  </div>
</BaseLayout>
