---
import Basic from '../components/Basic.astro';
import UseSlot from '../components/UseSlot.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
---

<BaseLayout>
  <h1>Astro</h1>
  <a href="page/based/routing">Go to paged based routing</a>
  <Basic word="boomble" />
  <UseSlot>
    This content will be slotted into the &lt;slot&gt; tag in the UseSlot component.
  </UseSlot>
</BaseLayout>
