---
import Avatar from './Avatar.astro';
import Menu from './Menu.astro';

type Props = {
  title: string;
};

// Extracting Props
const { title } = Astro.props;
---

<header class="bg-gray-800 text-white p-4">
  <h1 class="text-xl font-bold">{title}</h1>
  <Avatar server:defer >
    <div slot="fallback">
      <img src="https://placehold.co/88">
    </div>
  </Avatar>
  <Menu />
</header>
<hr />
