---
import BaseLayout from './BaseLayout.astro';

//const { frontmatter } = Astro.props;

const {
  frontmatter: { title, pubDate, description, author },
} = Astro.props;

---

<BaseLayout>
  <h1>{title}</h1>
  <h2>Post author: {author}</h2>
  <h3>{description}</h3>
  <h4>{pubDate}</h4>
  <slot />
</BaseLayout>
